* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  height: 700px;
  padding-top: 26px;
  background-image: url(/img/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  margin-bottom: 57px;
}

.container {
  margin: 0 72px;
}

.main-content {
  width: 542px;
}

.main-titles {
  color: #313131;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-title-2 {
  text-align: center;
}

.main-title-3 {
  text-align: end;
}

.main-text {
  color: #313131;
  font-family: 'Golos Text', sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 39px;
}

.main-btns {
  display: flex;
  justify-content: space-between;
}

.main-btn {
  width: 263px;
  height: 72px;
  border: 2px black solid;
  border-radius: 36px;
  font-family: 'Golos Text', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  cursor: pointer;
}

.black-btn {
  background-color: #1f1f1f;
  color: #ffffff;
}

.black-btn:hover {
  border: 2px #fbce51 solid;
  background-color: #fbce51;
  color: #1f1f1f;
}

.white-btn {
  background-color: transparent;
  color: #1f1f1f;
}

.white-btn:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}

.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
}

.running-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background-color: #f54932;
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  font-style: normal;
  text-transform: uppercase;
  animation: marquee 20s linear infinite;
}

.running-line-item {
  white-space: nowrap;
  position: relative;
  padding-right: 30px;
}

.running-line-item::after {
  content: '';
  position: absolute;
  top: 7px;
  left: -18px;
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 50%;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#support {
  padding-top: 80px;
}

.first-sect-support {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

.first-sect-img {
  max-height: 250px;
}

.support-title {
  max-width: 764px;
  font-family: 'Merriweather', serif;
  color: #313131;
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  font-style: normal;
  text-transform: uppercase;
}

.support-title > span {
  font-weight: 700;
  color: #f54932;
}

.second-sect-support {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.second-sect-img {
  position: relative;
  top: -49px;
  left: -28px;
}

.second-sect-content {
  position: relative;
  left: -12px;
}

.second-sect-title {
  margin-bottom: 47px;
}

.support-table {
  width: 100%;
  height: 275px;
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-style: normal;
  margin-bottom: 33px;
}

.support-table td {
  border-right: 2px solid #d0d0d0;
  border-bottom: 2px solid #d0d0d0;
}

.key {
  font-weight: 400;
  width: 306px;
  vertical-align: middle;
  color: #313131;
}

.support-table .last-td {
  border-bottom: none;
}

.value {
  font-weight: 600;
  padding-left: 15px;
  vertical-align: middle;
  color: #313131;
}

.support-table .value {
  border-right: none;
}

.line-through {
  color: red;
  text-decoration: line-through;
  margin-right: 7px;
}

.strikethrough {
  color: black;
}

.support-text {
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  color: #3057a2;
}
