* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  min-height: 700px;
  padding-top: 26px;
  background-image: url(/img/background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  margin-bottom: 57px;
}

.container {
  margin: 0 72px;
}

.main-content {
  max-width: 542px;
  margin-bottom: 132px;
}

.main-titles {
  color: #313131;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-title-2 {
  text-align: center;
}

.main-title-3 {
  text-align: end;
}

.main-text {
  color: #313131;
  font-family: 'Golos Text', sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 39px;
}

.main-btns {
  display: flex;
  justify-content: space-between;
}

.main-btn {
  width: 263px;
  height: 72px;
  border: 2px #1f1f1f solid;
  border-radius: 36px;
  font-family: 'Golos Text', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  cursor: pointer;
}

.black-btn {
  background-color: #1f1f1f;
  color: #ffffff;
}

.black-btn:hover {
  border: 2px #fbce51 solid;
  background-color: #fbce51;
  color: #1f1f1f;
}

.white-btn {
  background-color: transparent;
  color: #1f1f1f;
}

.white-btn:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}

.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
}

.running-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background-color: #f54932;
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  font-style: normal;
  text-transform: uppercase;
  animation: marquee 20s linear infinite;
}

.running-line-item {
  white-space: nowrap;
  position: relative;
  padding-right: 30px;
}

.running-line-item::after {
  content: '';
  position: absolute;
  top: 7px;
  left: -18px;
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 50%;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#support {
  padding-top: 80px;
  margin-bottom: 114px;
}

.first-sect-support {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

.first-sect-img {
  max-height: 250px;
}

.support-title {
  max-width: 764px;
  font-family: 'Merriweather', serif;
  color: #313131;
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  font-style: normal;
  text-transform: uppercase;
}

.support-theme {
  font-weight: 700;
  color: #f54932;
}

.second-sect-support {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.second-sect-img {
  position: relative;
  top: -49px;
  left: -28px;
}

.second-sect-content {
  position: relative;
  left: -12px;
}

.second-sect-title {
  margin-bottom: 47px;
}

.support-table {
  width: 100%;
  height: 275px;
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-style: normal;
  margin-bottom: 33px;
}

.support-table td {
  border-right: 2px solid #d0d0d0;
  border-bottom: 2px solid #d0d0d0;
}

.key {
  font-weight: 400;
  width: 306px;
  vertical-align: middle;
  color: #313131;
}

.support-table .last-td {
  border-bottom: none;
}

.value {
  font-weight: 600;
  padding-left: 15px;
  vertical-align: middle;
  color: #313131;
}

.support-table .value {
  border-right: none;
}

.line-through {
  color: red;
  text-decoration: line-through;
  margin-right: 7px;
}

.strikethrough {
  color: black;
}

.support-text {
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  color: #3057a2;
}

#steps {
  margin-bottom: 151px;
}

.header-steps {
  max-width: 806px;
  margin-bottom: 54px;
}

.section-title {
  font-family: 'Merriweather', serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  text-transform: uppercase;
  color: #313131;
}

.subtitle {
  display: inline-block;
  max-width: 280px;
  padding-left: 6px;
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  text-transform: none;
  color: #3057a2;
}

.steps-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.step-card {
  display: flex;
  gap: 16px;
  padding: 20px;
  background-image: url(/img/backgroundPaper.png);
}

.num-three {
  grid-column: 3;
  grid-row: 1 / 3;
}

.num-seven {
  grid-column: 2 / 4;
  grid-row: 3;
  padding-right: 320px;
}

.num {
  min-width: 36px;
  height: 36px;
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  font-style: normal;
  text-align: center;
  padding-top: 5px;
  background-color: #ffffff;
  color: #313131;
  border-radius: 50%;
}

.step-text {
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  font-style: normal;
  color: #313131;
}

.img-plain {
  position: absolute;
  right: -62px;
  bottom: -2px;
}

#players {
  margin-bottom: 139px;
}

.header-players {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.player-switch {
  display: flex;
  width: 151px;
  justify-content: space-between;
  align-items: center;
}

.left-switch,
.right-switch {
  font-size: 44px;
  color: #313131;
  border: none;
  background-color: #ffffff;
}

.left-switch:hover,
.right-switch:hover {
  color: #fbce51;
  cursor: pointer;
}

.num-players {
  font-family: 'Golos Text', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  color: #313131;
}

.all-players {
  opacity: 60%;
}

.players-slider {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  gap: 20px;
}

.card-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-img-player {
  margin-bottom: 28px;
}

.name-player {
  font-family: 'Golos Text', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  font-style: normal;
  color: #313131;
  margin-bottom: 6px;
}

.title-player {
  font-family: 'Golos Text', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  color: #313131;
  margin-bottom: 16px;
}

.player-more {
  padding: 8px 12px;
  font-family: 'Golos Text', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  font-style: normal;
  color: #3057a2;
  background-color: #ffffff;
  border: 1px #3057a2 solid;
  border-radius: 24px;
}

.player-more:hover {
  color: #ffffff;
  background-color: #3057a2;
}

footer {
  padding-top: 40px;
  background-color: #e9ded4;
  padding-bottom: 72px;
}

.text-footer {
  font-family: 'Golos Text', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  color: #313131;
}

@media (max-width: 1150px) {
  .main-content {
    margin-bottom: 132px;
  }

  .main-titles {
    margin: 0 auto;
    width: max-content;
    font-size: 50px;
    margin-bottom: 20px;
  }

  .main-text {
    margin-bottom: 25px;
  }

  .main-btns {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .support-title {
    font-size: 28px;
  }

  .support-table,
  .support-text {
    font-size: 18px;
  }

  .second-sect-img img {
    width: 100%;
  }

  .section-title {
    font-size: 44px;
  }

  .subtitle {
    font-size: 18px;
  }

  .num-seven {
    padding-right: 120px;
  }

  .step-text {
    font-size: 18px;
  }

  .img-plain {
    bottom: 130px;
  }
}

@media (max-width: 1000px) {
  .steps-grid {
    grid-template-columns: 1fr 1fr;
  }

  .num-three {
    grid-column: 1 / 3;
    grid-row: auto;
  }

  .num-six {
    grid-column: 1 / 3;
    padding-right: 50%;
  }

  .num-seven {
    grid-column: 1 / 3;
    grid-row: auto;
    padding-right: 20px;
  }

  .img-plain {
    bottom: 70px;
  }
}

@media (max-width: 900px) {
  main {
    background-image: url(/img/mobileBack.png);
    padding-bottom: 300px;
  }

  .main-content {
    margin: 0 auto;
  }

  .container {
    margin: 0 42px;
  }

  .main-btn {
    width: 100%;
  }

  .white-btn {
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .white-btn:hover {
    border-color: #1f1f1f;
  }

  .hide-br {
    display: none;
  }

  .first-sect-support {
    position: relative;
  }

  .first-support-title {
    display: flex;
    flex-direction: column;
    gap: 300px;
  }

  .first-sect-img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
  }

  .second-sect-support {
    flex-direction: column;
  }

  .img-plain {
    right: -42px;
  }

  footer {
    padding-bottom: 40px;
  }
}
